
/********************************************
 * LAYOUT
 *
 * Setting up the padding, basic colours, and 
 * any positioning.
 ********************************************/

html, body {
  height: 100%;
}

body {
  background: #222;
  color: white;
}

header#top_head {
  width: 100%;
  height: 200px;
  padding-top: 20px;
  background: url("../assets/ui/header-bg_960-200.png") repeat-X #222;
  background-size: 100% cover;
}

#top_head hgroup {
  padding: 0;
  margin-left: 200px;
}

#top_head hgroup h1 {
  font-size: 3.4em;
  text-shadow: 2px 2px 2px #CCC, -3px -2px 0 #333;
}

#top_head hgroup h2 {
  font-size: 2.3em;
  text-shadow: 1px 1px 4px black;
}

#logo {
  position: absolute;
  width: 120px; height: 120px;
  top: 0; left: 0;
  margin: 20px;
  background: #793DFA;
  border-radius: 100%;
  color: white;
  font-size: 140%;
  font-weight: bold;
  text-align: center;
  font-family: Courier, Monospace;
}

pre, code, p {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 20px 0 10px 0;
}

#sidebar1, #sidebar2 {
  height: 100%;
  padding-top: 20px;
}

@media (max-width: 768px) {
  #sidebar2 {
    display: none;
  }
}

nav#mainNav {
  padding: 0 2em;
}

footer {
  padding-top: 2em;
}

