/***************************************
 * IMAGES
 *
 * Including figure, hover effects over images
 * and captions
 ***************************************/

figure > img {
  width: 80%;
  height: 80%;
  border: 2px solid white;
}

